html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 970px;
  height: 150px;
  overflow: hidden;
  background: #e0e8ef;
}

#i01 {
  position: absolute;
  left: 0;
  top: -10%;
  opacity: 0;
}
#i02 {
  position: absolute;
  left: 0;
  top: -10%;
  opacity: 0;
}
#i03 {
  position: absolute;
  left: 0;
  top: -10%;
  opacity: 0;
}
#i04 {
  position: absolute;
  left: 0;
  top: -10%;
  opacity: 0;
}

#i05 {
  position: absolute;
  left: 0;
  top: 200%;
  opacity: 0;
}
#i06 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-1 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-4 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-5 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-6 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-7 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-8 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-9 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-10 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-11 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-12 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-13 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-14 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-15 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-16 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i06-17 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-1 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-4 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-5 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-6 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-7 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-8 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-9 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-10 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-11 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-12 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-13 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-14 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-15 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i07-16 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-1{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-4 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-5 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-6 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-7 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-8 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-9 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-10 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-11 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i09 {
  position: absolute;
  left: 0;
  top: 200%;
  opacity: 0;
}
#i10 {
  position: absolute;
  left: 0;
  top: 200%;
  opacity: 0;
}
#i11 {
  position: absolute;
  left: 10%;
  top: 0;
  opacity: 0;
}
#i12 {
  position: absolute;
  left: 150%;
  top: 0;
  opacity: 0;
}