html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  background: #e0e8ef;
}

#i01 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i02 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i03 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i04 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i05 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i06 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i07 {
  position: absolute;
  left: 0;
  top: 200%;
  opacity: 0;
}
#i08 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}
#i09 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}
#i10 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}

#i11 {
  position: absolute;
  left: 200%;
  top: 0;
  opacity: 0;
}
#i12 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i13 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i14 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i15 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i16 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}
#i17 {
  position: absolute;
  left: 0;
  top: -200%;
  opacity: 0;
}

#i18 {
  position: absolute;
  left: -30%;
  top: 0;
  opacity: 0;
}
#i19 {
  position: absolute;
  left: -30%;
  top: 0;
  opacity: 0;
}
#i20 {
  position: absolute;
  left: -30%;
  top: 0;
  opacity: 0;
}
#i21 {
  position: absolute;
  left: 30%;
  top: 0;
  opacity: 0;
}
#i22 {
  position: absolute;
  left: 30%;
  top: 0;
  opacity: 0;
}
#i23 {
  position: absolute;
  left: 0;
  top: 30%;
  opacity: 0;
}
