html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  background: #dadada;
}
#i01 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i02 {
  position: absolute;
  left: -50%;
  top: 50%;
  opacity: 0;
}
#i03 {
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
}

#i04 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}
#i05 {
  position: absolute;
  left: 0;
  top: 8%;
  opacity: 0;
}
