html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 600px;
  height: 800px;
  overflow: hidden;
  background: #dadada;
}

#i01 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.25);
}

#i02 {
  position: absolute;
  left: 0;
  top: -20%;
  opacity: 0;
}

#i03 {
  position: absolute;
  left: -20%;
  top: 0;
  opacity: 0;
}
#i04 {
  position: absolute;
  left: -20%;
  top: 0;
  opacity: 0;
}

#i05 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.25);
}

#i06 {
  position: absolute;
  left: -20%;
  top: 0;
  opacity: 0;
}
#i07 {
  position: absolute;
  left: -20%;
  top: 0;
  opacity: 0;
}


#i08 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i09 {
  position: absolute;
  left: 0;
  top: -20%;
  opacity: 0;
}
#i10 {
  position: absolute;
  left: 0;
  top: 20%;
  opacity: 0;
}
