html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  background: #dadada;
}
#i01 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i02 {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
}

#i03 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i04 {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
}

#i05 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}

#i06 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i07 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i08 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}

#i09 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i10 {
  position: absolute;
  left: -100%;
  top: 0;
  opacity: 0;
}

#i11 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-1 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-4 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-5 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-6 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-7 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-8 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-9 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-10 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-11 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-12 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-13 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-14 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-15 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-16 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-17 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-18 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-19 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-20 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-21 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-22 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-23 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-24 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-25 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i11-26 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i12 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-1 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-4 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-5 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-6 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-7 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-8 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-9 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-10{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-11 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-12 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-13 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-14 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-15 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-16 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-17 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-18 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-19 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i12-20 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i13 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i14 {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
}

#i15 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}

#i16 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}


