html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 320px;
  height: 480px;
  overflow: hidden;
  background: #dadada;
}
#i01 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i02 {
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
}

#i03 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}
#i04 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}
#i05 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}

#i06 {
  position: absolute;
  left: -3%;
  top: 0;
  opacity: 0;
}
#i06-1 {
  position: absolute;
  left: -3%;
  top: 0;
  opacity: 0;
}
#i06-2 {
  position: absolute;
  left: -3%;
  top: 0;
  opacity: 0;
}
#i06-3 {
  position: absolute;
  left: -3%;
  top: 0;
  opacity: 0;
}
#i06-4 {
  position: absolute;
  left: -3%;
  top: 0;
  opacity: 0;
}

#i01-1 {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
}
#i02-1 {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
}
#i02-2 {
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
}

#i10 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}
#i11 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}
#i12 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}

#i07 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}
#i08 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}
#i09 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}

#i13 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i14 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i15 {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 1;
}
#i16 {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 1;
}
#i17 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i18 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 1;
}

#i19 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}
#i19-1 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}
#i19-2 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}
#i19-3 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}
#i19-3 {
  position: absolute;
  left: -10%;
  top: 0;
  opacity: 0;
}
#i20 {
  position: absolute;
  left: -50%;
  top: 0;
  opacity: 0;
}
