html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 728px;
  height: 90px;
  overflow: hidden;
  background: #dadada;
}
#i01 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.25);
}

#i02 {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
}

#i03 {
  position: absolute;
  left: 0;
  top: 30%;
  opacity: 0;
}
#i04 {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
}

#i05 {
  position: absolute;
  left: 10%;
  top: 0;
  opacity: 0;
}
#i06 {
  position: absolute;
  left: 10%;
  top: 0;
  opacity: 0;
}

#i07 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-1 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-4 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-5 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-6 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-7 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-8 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-9 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-10 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-11 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-12 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-13 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-14 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-15 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-16 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-17 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-18 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-19 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-20 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-21 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-22 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-23 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-24 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-25 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-26 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-27 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-28 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-29 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-30 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-31 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-32 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-33 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-34 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-35 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-36 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-37 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-38 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-39 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-40 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-41 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-42 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-43 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-44 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-45 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-46 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i08-47 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i09 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i10 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i11 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}