html,
body {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  width: 120px;
  height: 600px;
  overflow: hidden;
  background: #dadada;
}
#i01 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#i01-1 {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
}
#i01-2 {
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
}
#i01-3 {
  position: absolute;
  left: 10%;
  top: 0;
  opacity: 0;
}

#i02 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}

#i03 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i04 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#i05 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}

#i06 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i07 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i08 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i09 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}

#i10 {
  position: absolute;
  left: 0;
  top: -10%;
  opacity: 0;
}
#i11 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
#i12 {
  position: absolute;
  left: 0;
  top: -10%;
  opacity: 0;
}
#i13 {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
}
